# Copyright 2024 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Action Lint

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions: {}

jobs:
  action-lint:
    name: Action lint
    runs-on: ubuntu-latest

    permissions:
      contents: read # To read the repo contents

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Find yamls
        id: get_yamls
        run: |
          yamls="$(find .github/workflows -name "*.y*ml" | grep -v dependabot. | xargs echo)"
          echo "files=${yamls}" >> "$GITHUB_OUTPUT"

      - name: Action lint
        uses: step-security/action-actionlint@636868d8a7788bc5b3d0ce221b89c1d7132084b7 # v1.68.1
        with:
          actionlint_flags: ${{ steps.get_yamls.outputs.files }}
